<div class='container'>
<div class="row">
	<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile',user: current_user %>

		<h2>New book</h2>
		<%= render 'books/newform',book:@book %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						<%= link_to user_path(@books.user)do %>
						<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @books.user.name %>
						<% end %>
					</td>
					<td>
                        <%= link_to @books.title, book_path(@books) %></td>
					<td><%= @books.body %></td>
					<td>
					<%= render "favorites/favorite", book: @books %>
				    </td>
				     <td>
				   	コメント数<%= @books.book_comments.count %>
				   </td>
					 <% if @books.user == current_user %>

					<td><%= link_to "Edit",edit_book_path(@books), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					<td><%= link_to "Destroy", book_path(@books), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
				</tr>
				<% end %>
			</table>
			 <ol>
    <% @books.book_comments.each do |book_comment| %>
        <li class="comment">
            <div class="comment-body bb">
                
                <div class="comment-text">
                    <div class="comment-author clearfix">
                        <a href="#" class="link-author"><%= book_comment.user.name %></a>
                        <span class="comment-meta">
                        <span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
                        </span>
                    </div>
                    <div class="comment-entry"><%= book_comment.comment %>
                     <% if book_comment.user == current_user %>
                     <%= link_to '削除',  book_book_comments_path(@books), method: :delete, class: "btn-sm btn-danger"  %>
       
						        <% end %>
						        </div>
                </div>
            </div>
        </li>
       
    <% end %>
</ol>

<%= form_for [@books, @book_comment] do |f| %>



            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>

<div class="actions row">
    <%= f.submit "送信", class: "pull-right" %>
</div>
<% end %>

</div>

</div>
