<ol>
    <% @books.post_comments.each do |book_comment| %>
        <li class="comment">
            <div class="comment-body bb">
                
                <div class="comment-text">
                    <div class="comment-author clearfix">
                        <a href="#" class="link-author"><%= book_comment.user.name %></a>
                        <span class="comment-meta">
                        <span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
                        </span>
                    </div>
                    <div class="comment-entry"><%= book_comment.comment %></div>
                </div>
            </div>
        </li>
    <% end %>
</ol

<%= form_for [@books, @book_comment] do |f| %>
  <div class="row">

        <div class="col-sm-12">
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
        </div>
    </div>
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>